<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-center align-items-center vh-100">
        <form class="p-4 border rounded" style="width: 30vw;" [formGroup]="formGroup">
          <h2 class="mb-4">Login</h2>
          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" required
                   [formControlName]="EMAIL">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" required
                   [formControlName]="PASSWORD">
          </div>
          <button type="submit" class="btn btn-primary" (click)="onLogin()">Login</button>
          <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
        </form>
      </div>
    </div>
  </div>
</div>
