<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-center align-items-center vh-100">
        <form class="p-4 border rounded" [formGroup]="formGroup">
          <h2 class="mb-4">Register</h2>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" required
                   [formControlName]="EMAIL">
            <div *ngIf="formGroup.get('email')?.hasError('email') && formGroup.get('email')?.touched"
                 class="text-danger">
              Please enter a valid email address.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" required
                   [formControlName]="PASSWORD">
          </div>
          <div class="mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" required
                   [formControlName]="FIRST_NAME">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" required
                   [formControlName]="LAST_NAME">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number" required
                   [formControlName]="PHONE">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="this.formGroup.invalid" (click)="onRegister()">
            Register
          </button>
          <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
        </form>
      </div>
    </div>
  </div>
</div>
